
<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="css/index.css")
  body
    include ./modules/icons
    include ./modules/header

    main.main
      .wrapper
        section.info
          .titel-container
            h1.info-head Производитель
              br
              | и оптовый поставщик
              br
              | пиротехники в России
            .advert-container
              a.youtube-container(href="#")
                .txt-container
                  p.chanel Наш канал
                  p.you YouTube
              .storage-container
                p.txt 1290 м.кв.
                  span.city - собственный склад в Москве,
                p.txt 990 м.кв.
                  span.city - склад в Крыму
          .props-container
            .text-container
              .num1
              p.txt Оригинальный многосюжетный дизайн упаковки
            .text-container
              .num2
              p.txt у нас Самая широкая линейка петард в россии
            .text-container
              .num3
              p.txt Ежегодное обновление ассортимента на 20%
          button.consult(type="button")

    include ./modules/footer

    script(src="js/scripts.js")
