.nav-container {
  padding-top: 54px;
  padding-bottom: 45px;
  .nav-txt {
    color: #777777;
    font-family: 'Panton';
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    .slash {
      margin: 0 20px;
    }
    .choise {
      color: #384f74;
      font-family: "Panton";
      font-weight: 400;
      line-height: 46px;
    }
  }
}
