footer.footer
  .wrapper
    nav.navigation-container
      menu.menu-container
        li.item
          a.logo-container(src="#")
            img.logo(src="images/logo-small.png" alt="img")
            p.name Производитель и оптовый поставщик пиротехники в РФ
        li.item
          ul.catalog-list
            a.catalog-hgef(href="#") Каталог продукции
            li.catalog-item
              a.item-href(href="#") Бытовая пиротехника
            li.catalog-item
              a.item-href(href="#") Сценическая пиротехника
            li.catalog-item
              a.item-href(href="#") Профессиональная пиротехника
        li.item
          ul.client-list
            a.client-href(href="#") Информация для клиентов
            li.client-item
              a.item-href(href="#") Вопросы - ответы
            li.client-item
              a.item-href(href="#") Инфо-блог
            li.client-item
              a.item-href(href="#") Контактная информация
        li.item
          ul.list-terms
            li.terms-item Условия сотрудничества
            li.terms-item Cертификаты
            li.terms-item Реквизиты
            li.terms-item Договора
        li.item
          ul.contacts-list
            li.contactds-item
              p.adress Московская обл, г. Сергиев Посад, шоссе Московское 22
              a.map(src="#") Показать на карте
            li.contactds-item
              a.phone(href="tel:+79100007994") +7 (910) 000-79-93
              p.schedule пн-сб: с 9:00 до 18:00


