section.partneship
  .wrapper
    h2.partneship-title Несколько простых шагов для сотрудничества
    .condition
      .line
        .step-block
          .step-container
            p.step Шаг 1
            .reg-container
              p.reg Регистрация
              img.pic(src="images/laptop.png" alt="img")
          .desc-container
            p.desc Зарегистрируйтесь в личном кабинете  или оставьте заявку на нашем сайте (работает онлайн чат, вайбер) или по телефону
              br
              |
              span.phone +7 (910) 000-79-94
        .step-block.step-block2
          .step-container
            p.step Шаг 2
            .reg-container
              p.reg Скидка
              img.pic(src="images/procent.png" alt="img")
          .desc-container
            p.desc Зафиксируйте Вашу уникальную скидку оптового покупателя
      .line.line2
        .step-block
          .step-container
            p.step Шаг 3
            .reg-container
              p.reg Оплата
              img.pic(src="images/сredit-card.png" alt="img")
          .desc-container
            p.desc Внесите предоплату или
              br
              |возьмите товар в рассрочку (в
              br
              |зависимости от условий)
        .outcome
          .txt-container
            p.txt Получите заказ в транспортной
              br
              |компании своего города
              br
              |
              span.txt-big и получайте прибыль от продаж!!!
          img.pic(src="images/hand.png" alt="img")
