.header {
  position: relative;
  .small-back {
    background-image: url("../images/back-small-header.png");
    background-size: cover;
  }
  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    align-items: center;
    .title {
      display: flex;
      align-items: center;
      .burger {
        display: flex;
        margin-right: 37px;
        .icon-burger {
          fill: #FFFFFF;
        }
      }
      .logo {margin-right: 27px}
      .name {
        font-size: 47px;
        font-weight: 300;
        line-height: 18px;
        color: #FFFFFF;
      }
    }
    .visitor-contauner {
      display: flex;
      .contact {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 63px;
        justify-content: center;
        .phone {
          color: #ffffff;
          font-size: 25px;
          font-weight: 500;
          line-height: 27px;
        }
        .back-call {
          color: #ffffff;
          font-family: 'Panton';
          font-size: 13px;
          font-weight: 400;
          line-height: 18px;
        }
      }
      .btn-grup {
        display: flex;
        margin-right: 60px;
        button {
          width: 206px;
          height: 53px;
          border-radius: 2px;
          background-color: #eeebe4;
          color: #000011;
          font-family: 'Panton';
          font-size: 16px;
          font-weight: 400;
          line-height: 18px;
          &:first-child {
            margin-right: 12px;
          }
          &:hover {
            background-image: linear-gradient(to bottom, #efe4b7 0%, #f5bd72 72%, #f5bd72 100%);
          }
        }
      }
      .guest-panel {
        display: flex;
        align-items: center;
        a {
          color: #ffffff;
          font-family: 'Panton';
          font-size: 14px;
          font-weight: 300;
          line-height: 18px;
          padding-left: 41px;
          background-repeat: no-repeat;
          background-position: left;
        }
        .enter {
          background-image: url("../images/enter.svg");
          margin-right: 46px;
        }
        .busket {
          background-image: url("../images/basket.png");
          .num {
            margin-left: .4em;
          }
        }
      }
    }
  }
  .small {
    padding: 5px 0 18px 0;
  }
  @import "openmenu";
}
