.form-order-container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  //background: #b9b9b9b8;
  //display: flex;
  justify-content: center;
  align-items: center;
  @import "modalorderphone";
  z-index: 1;
}

.show {
  display: flex;
}

.hide {
  display: none;
}
